*.class
*.log
Assignment_2_Project/.bsp/
Assignment_2_Project/.idea/
Assignment_2_Project/project/
Assignment_2_Project/target/
Assignment_3_Project/.bsp
Assignment_3_Project/.idea/
Assignment_3_Project/project/
Assignment_3_Project/target/.history3
Assignment_3_Project/target/
